<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appv4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin.ListaEspecialidad2"></activity>
        <activity android:name=".admin.RegistrarDoctor" />
        <activity android:name=".medico.Dashboardmedico" />
        <activity android:name=".admin.Dasboardadmin" />
        <activity
            android:name=".admin.Informacionapp"
            android:theme="@style/AppTheme" />
        <activity android:name=".admin.MenuEspecialista" />
        <activity android:name=".admin.MenuAministrador" />
        <activity android:name=".admin.ListaEspecialista" />
        <activity android:name=".admin.ListaEspecialidad" />
        <activity
            android:name=".admin.RegistrarEspecialidad"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.RegistarEspecialista"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.RegistroActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DasboardActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>